<header class="header">
  <nav class="container nav">
    <span class="logo">Approved Offers</span>
  </nav>
</header>

<style>
  .header {
    padding: 1.5rem 0;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
  }
</style>
